<ion-view title="Alcoholímetro" style="background-color:#D1EBE8;">
  <ion-content padding="true" class="has-header">

    <link rel="stylesheet" href="https://rawgit.com/jtblin/angular-chart.js/a0b1ce650d5dce9b7ccdd86843d83f27b0d7bc03/dist/angular-chart.css">
    <div class="spacer" style="width: 300px; height: 0px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/z2QzrVKXRcaDUqd4ptwQ_Alcoholmetro.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list>
      <ion-item>Blood Alcohol Calculator: {{nivelAlcohol}}</ion-item>
      <button class="button button-positive button-block button-icon" ng-click="graficar()">Conectar alcoholímetro</button>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>

    <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series">
    </canvas>

  </ion-content>
</ion-view>