<ion-view title="Domicilio" nav-transition="none" hide-nav-bar="true">
  <ion-content padding="true" style="background: url(https://s3.amazonaws.com/ionic-io-static/Q6Ih2O9ToOdbVbGIE48P_Domicilio%20fondo.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 363px;"></div>
    <a href="https://www.rappi.com.co " target="_blank" style="text-decoration:none">
      <button class="button button-positive button-block button-icon">Pedir por RAPPI</button>
    </a>
  </ion-content>
</ion-view>