<ion-view title="" id="page4" style="background-color:#D1EBE8;">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/VYYuwgdXQlK34GEmmIDE_Registro.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="page4-card22">
      <ion-item class="item-avatar" id="page4-list-item13">
        <img src="img/E2RfL8ZQMiYKEXR40aJA_alcohol_icons.jpg">
        <h2>Ingreso</h2>
      </ion-item>
      <form id="page4-form4" class="list">
        <label class="item item-select" id="page4-select1">
          <span class="input-label">Bebida consumida</span>
          <select ng-model="data.size" ng-options="size.id as size.label for size in sizes"></select>
        </label>
        <ion-toggle toggle-class="toggle-positive" id="page4-toggle1" ng-model="data.shot">Shot</ion-toggle>
        <ion-toggle toggle-class="toggle-positive" id="page4-toggle2" ng-model="data.vaso">Vaso</ion-toggle>
        <label class="item item-input" id="page4-input11">
          <span class="input-label">Cantidad consumida</span>
          <input type="number" placeholder="">
        </label>
        <ion-list id="registro-datos">
        </ion-list>
      </form>
    </div>
    <div id="page4-button-bar1" class="button-bar">
      <button id="page4-button13" ng-click="add()" style="color:Default;" class="button button-assertive button-block">Añadir</button>
    </div>
  </ion-content>
</ion-view>