<ion-view title="" hide-back-button="true" id="page2" style="background-color:#D1EBE8;">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/TYSAqiiTSPGPcuK4oqdB_Usuario.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <ion-list id="page2-list4">
      <ion-item class="item-avatar" id="page2-list-item21">
        <h2>Información</h2>
        <p>{{data.Usuario}}</p>
      </ion-item>
      <ion-item class="item-divider" id="page2-list-item-divider3"> Statistics</ion-item>
      <ion-list id="page2-list6">
        <ion-item class="item-icon-right" id="page2-list-item19">Mean BA: {{data.MeanBA}}
          <i class="icon ion-alert icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="page2-list-item20">Mean Shots: {{data.MeanShots}}
          <i class="icon ion-android-bar icon-accessory"></i>
        </ion-item>
      </ion-list>
      <ion-item class="item-thumbnail-left" id="page2-list-item11">
        <img src="img/dGXHw8mQreJmYoRXsmtr_ConsumoSemanal.PNG">
        <h2>Mean consumption</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>