<ion-view title="" id="page9" style="background-color:#D1EBE8;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 1.97443px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/p5BefDe9Rq65D598lhAK_Informacion.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <ion-list id="page9-list8">
      <ion-item class="item-divider" id="page9-list-item-divider4"> Nombre</ion-item>
      <ion-list id="page9-list7">
        <ion-item class="item-icon-right" id="page9-list-item24">{{data.Nombre}}
          <i class="icon ion-man icon-accessory"></i>
        </ion-item>
        <ion-item class="item-divider" id="page9-list-item-divider5"> Contraseña</ion-item>
        <ion-item class="item-icon-right" id="page9-list-item25">{{data.Password}}
          <i class="icon ion-key icon-accessory"></i>
        </ion-item>
        <ion-item class="item-divider" id="page9-list-item-divider6"> Email</ion-item>
        <ion-item class="item-icon-right" id="page9-list-item26">{{data.Email}}
          <i class="icon ion-email icon-accessory"></i>
        </ion-item>
        <ion-item class="item-divider" id="page9-list-item-divider7"> Peso</ion-item>
        <ion-item class="item-icon-right" id="page9-list-item27">{{data.Peso}}
          <i class="icon ion-alert icon-accessory"></i>
        </ion-item>
        <ion-item class="item-divider" id="page9-list-item-divider8"> Cumpleaños</ion-item>
        <ion-item class="item-icon-right" id="page9-list-item28">{{data.Fecha}}
          <i class="icon ion-android-calendar icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <a ui-sref="login({})" id="page9-button12" ng-click="cerrarSesion()" class="button button-assertive button-block">Cerrar Sesión</a>
  </ion-content>
</ion-view>